<div class="text-layout">
    <h1>Pipes no tan coumunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="grid">
    <div class="col p-md-6">
        <p-fieldset legend="i18nSect Pipe" [toggleable]="true">
           
            <p>
                Saludos {{ nombre }}, es un placer 
                {{ genero | i18nSelect: invitacionMap }}
                a nuestro evento de nuevos millonarios.
            </p>

           <p-button 
                label="Cambiar persona" 
                icon="pi pi-users"  
                class="p-button-secondary" 
                (onClick)="cambiarCliente()"
                ></p-button>
            

        </p-fieldset>
    </div>
    <div class="col p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">

            <p>
                Actualmente {{ clientes.length | i18nPlural:clientesMapa }}
            </p>

            <!-- <p-button label="Borrar cliente" icon="pi pi-user-minus" class="p-button-warning" class="p-button-warning" ></p-button> -->
            <button pButton 
                *ngIf="clientes.length > 0"
                type="button" 
                label="Borrar cliente" 
                icon="pi pi-user-minus" 
                class="p-button-warning"
                (click)="borrarCliente()"></button>

            
        </p-fieldset>
    </div>

    <div class="col p-md-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
           
           <b>Original</b>
           <pre>{{ clientes }}</pre>

           <b>slice:0:2</b>
           <pre>{{ clientes | slice:0:2 }}</pre>

           <b>slice:1:3</b>
           <pre>{{ clientes | slice:1:3 }}</pre>
            
           <b>slice:0:4</b>
           <pre>{{ 'Verónica M. Meléndez Montiel' | slice:0:4 }}</pre>
        </p-fieldset>
    </div>

    <div class="col p-md-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            <b>Objeto Persona:</b>
            <pre>{{ persona | json}}</pre>

            <hr>
            <b>Arreglo de heroes:</b>
            <pre>{{ heroes | json}}</pre>

        </p-fieldset>
    </div>


    <div class="col p-md-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let p of persona | keyvalue">
                    <b> {{ p.key | titlecase }}:</b> {{ p.value }}
                </li>
            </ul>
        </p-fieldset>
    </div>

    <div class="col p-md-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <b>Usando: miObservable | async </b>
            <p *ngIf="!(miObservable | async)">Resolviendo Observable</p> Esta suscripcion es independiente de la de suscripcion que hace el 
                                                                            objeto async de la promesa
            <pre> {{ miObservable | async }} </pre>

            <hr>

            <h1>Usando una promesa con el pipe Json y con el pipe Async</h1>
            <p *ngIf="!(valorPromesa | async)">Resolviendo Promesa</p>

            <div *ngIf="(valorPromesa | async)">
                <b>Usando una promesa y el pipe json ya que la promesa devuelve un objeto</b>
                <pre> {{ valorPromesa | json  }}</pre>

                <hr>

                <b>Usando una promesa y el pipe async</b>
                <pre> {{ valorPromesa | async  }}</pre>
            </div>
        </p-fieldset>
    </div>


    
</div>

